@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Mulish:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #000000;
    
}


/* Header */

#header-dimensions {
    height: 150px;
    width: 100%;
    background-color: burlywood;
}

#logo-block {
    display: inline-block;
    width: 25%;
    height: 150px;
}

#middle-block {
    display: inline-block;
    width: 35%;
    height: 150px;
}

#menu-block {
    display: inline-block;
    width: 35%;
    height: 150px;
    
    
}

#logo {
    text-align: center;
    position: relative;
    bottom: 50px;
}

#menu {
    text-decoration: none;
    list-style: none;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    bottom: 50px;
    left: 50px;
    
    
    
}

#menu li {
    display: inline;
    word-spacing: 4px;
    
}