/* Complete website properties */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Mulish:wght@500&display=swap');


body {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    color: #000000;
    
} 

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid #000000; */
    background-color:rgba(54, 185, 245, 0.1);
    border-radius: 20px;
  }

  * {
      box-sizing: border-box;
  }


/* Header */

header {
    border-bottom: 1px solid #000000;
    position: relative;
    top: 20px;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 25%;
    margin-left: 1rem;

}

.menu {
    float: right;
    word-spacing: 10px;
    position: relative;
    bottom: 40px;
    

    
}

.menu li {
    text-decoration: none;
    list-style: none;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline;
      
}

.active {
    border-bottom: 1px solid #000000;
}



/* Main photo */

#main-photo {
    background-image: url('../images/aviation-refresh-feature-1440x600\ \(1\).webp');
    width: 100%;
    height: 600px;
    object-fit: fill;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 20px;
}

/* Media */

@media screen and (max-width: 600px) {

    .container {
        width: 90%;
        
    }
    
    .logo {
        font-size: large;
        text-align: center;
        width: 50%;
        /* border: 1px solid #000000; */
        padding-bottom: 20px;
        margin: 0;
        
    }

    .menu {
        width: 15%;
        padding-right: 2rem;
        /* border: 1px solid #000000; */
        position: relative;
        bottom: 95px;
        
       
    }

    .menu li {
        font-size: small;
        line-height: 1.5rem; 
    }

    #main-photo {
        background-position: center;
        
    }
}

/* Footer */

footer {
    border-top: 1px solid #000000;
    margin-top: 30px;
}

.logo-small {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 60%;
    margin-left: 1rem;
    position: relative;
    top: 0.5rem;
    /* border: 1px solid #000000; */
    
}

.under-logo-text {
    width: 60%;
    text-align: center;
    margin-left: 1rem;
    /* border: 1px solid #000000; */
}

#footerblock1 {
    display: inline-block;
    /* border: 1px solid #000000; */
    width: 20%;
}

#footerblock2 {
    /* border: 1px solid #000000; */
    float: right;
    clear: right;
    margin: 2rem 0;
    
}

#footerblock2-uniqueforcontact {
    position: relative;
    bottom: 140px;
}

table {
    width: 250px;
}
 
th {
    text-align: left;
}

/* Link properties */

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;

}

a:hover {
    border-bottom: 1px solid #000000;
}

a:active {
    border-bottom: 1px solid #000000;
}


/* List */

.list-container {
    max-width: 60%;
    margin: 0 auto;
    /* border: 2px solid #000000; */
}

.list-container table {
    border: 1px solid;
    width: 100%;
    
}

.list-container td {
    text-align: left;
    /* border: 1px solid red; */
    width: 50%;
    line-height: 20px;
    
}

.list-container th {
    border-bottom: 1px solid;
}

/* Contact */

 .contact-container { 
    position: relative;
    top: 20px;
    padding-bottom: 20px;
    width: 60%;
    margin: auto;
} 

#contact-header {
    text-align: center;
}

#fname, #lname, #nationality, #subject {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    resize: vertical 
  }

  input[type=submit] {
    background-color: rgba(90, 134, 255, 0.2);
    color: #000000;
    font-weight: 600;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #address-container {
      border-top: 1px solid #000000;
      margin-top: 20px;
      height: 300px;
  }

  address {
      width: 25%;
      text-align: center;
      font-style: normal;
      margin-left: 100px;
      margin-top: 50px;
      position: relative;
      top: 30px;
      padding-bottom: 10px;
      display: inline-block;
      /* border: 1px solid #000000; */
      border-radius: 25px;
      background-color:rgba(90, 134, 255, 0.2);
  }

  address p {
      line-height: 5px;
  }

  #map {
      float: right;
      padding: 1rem 0.5rem 1rem 1rem;
      margin-top: 10px;
      border: none;
      width: 600px;
      height: 300px;
      overflow: hidden;
      /* border: 1px solid #000000; */
  }
