/* Complete website properties */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Mulish:wght@500&display=swap');


body {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    color: #000000;
    
} 

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid #000000; */
  }
  


/* Header */

.logo {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    float: left;
    width: 25%;

}

.menu {
    float: right;
    word-spacing: 5px;
    position: relative;
    top: 80px;

    
}

.menu li {
    text-decoration: none;
    list-style: none;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline;
      
}

.menu a:hover {
    border-bottom: 1px solid #000000;
}

.active { 
    border-bottom: 1px solid #000000;
}



/* Main photo */



#main-photo {
    background-image: url('../images/aviation-refresh-feature-1440x600\ \(1\).webp');
    width: 100%;
    height: 600px;
    margin: auto;
    object-fit: fill;
    overflow: hidden;
    background-repeat: no-repeat;
}

/* Media */

@media screen and (max-width: 600px) {

    .container {
        width: 90%;
        /* border: 2px solid #000000; */
    }
    
    .logo {
        font-size: large;
        text-align: center;
        position: relative;
        left: 20px;
        top: 30px
    
    }

    .menu {
        width: 5rem;
        padding-right: 1rem;
        
        
        
    }

    .menu li {
        font-size: small;
        position: relative;
        bottom: 5rem;
        line-height: 1.5rem;

        
    }

    #main-photo {
        background-position: center;
        
    }
}




